body {
    overflow: hidden;
    margin: 0;
}

.a-loader-title {
  color: red;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 20px;
    display: block;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
  }
  
  .popup h2 {
    margin-top: 0;
    color: #ffffff;
  }
  
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(21, 255, 0);
  }
  
  .popup .close:hover {
    color: #d80634;
  }
  
  .popup .content {
    line-height: 30px;
    padding-top: 15px;
    height: 90%;
    width: auto;
  }
  